.env
pgdbconf/postgres.conf
rapsql.json
dev/dev.md
dev/test-queries/*
/dev/java/sparql-to-agecypher/target/
/dev/java/sparql-to-agecypher/.vscode
/dev/java/sparql-to-agecypher/sparql-to-agecypher.code-workspace
*notest*
docs/info
__pycache__
backup.yml
.vscode
data/*
analysis/*
/dev/bash/*
/mnt/*
dev/java/sparql-to-agecypher/src/test/resources/sp2b/*
submodules/*