.env
.env.*
pgdbconf/postgres.conf
rapsql.json
dev/dev.md
dev/test/*
/dev/java/sparql-to-agecypher/target/
/dev/java/sparql-to-agecypher/.vscode
/dev/java/sparql-to-agecypher/sparql-to-agecypher.code-workspace
*notest*
docs/info